#preview {
  font-family: "AnUnguessableNameWhichShallNotBeTaken";
  white-space: nowrap;
  overflow: hidden;
  display: none;
}

.label {
  font-family: var(--vscode-font-family);
  font-size: 16px;
}

.s12 {
  font-size: 12px;
}

.s18 {
  font-size: 18px;
}

.s24 {
  font-size: 24px;
}

.s36 {
  font-size: 36px;
}

.s48 {
  font-size: 48px;
}

.s60 {
  font-size: 60px;
}

.s72 {
  font-size: 72px;
}